 
  
  <div class="container">
    <div class="row valign-wrapper">
      <div class="col offset-s3 valign">
        <div class="card small grey darken-2  outline">
          <div class="card-content white-text">
            <h2 class="cyan-text text-lighten-4 bold">Raffler's Helper App</h2>
            <p class="center">Generates Raffle winners with Helpful Filters</p>
          </div>

          <div class="card-action center">
            <button class="waves-effect waves-light btn cyan lighten-4 grey-text text-darken-2"
              onclick="window.location.href='/create';">Begin</button>
          </div>

        </div>
      </div>
    </div>
    </div>

