<br>
<br>
<br>

<div class="container">

  <h2 class="cyan-text text-lighten-4 bold">Raffle Results</h2>
  <h5 class="grey-text text-lighten-1">
    Screenshot or copy these results before exiting:
  </h5>
  <br>

  <form class="col s12">
    <div class="card-panel white outline" ;>
      
          <table class="highlight">
        <thead class="grey-text text-darken-1">
          <tr>
              <th >Invoice #</th>
              <th >Email</th>
          </tr>
        </thead>

        <tbody class="grey-text text-darken-1">
          <tr>
            <td>2</td>
            <td>janedoe@gmail.com</td>
          </tr>
           <tr>
            <td>3</td>
            <td>johndoe@gmail.com</td>
          </tr>
        </tbody>
      </table>



    </div>
  </form>
  <br>


  <button 
  class="waves-effect waves-light btn cyan lighten-4 grey-text text-darken-2" type="submit" name="action"
    onclick="window.location.href='/';">Exit Page
  </button>